:root {
    --text-color:255, 255, 255;
    --bg-color: 180, 220, 235;
    --bg-dark-color: 120, 160, 175;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(var(--text-color));
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: black; */
    background: linear-gradient(45deg, #df7334, #c72ba5, #1d37cc, #22ac6c);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

h1 {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 66px;
    line-height: 1;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
}

h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

button, a {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.inline-link {
    display: inline;
    color: rgb(var(--bg-color));
}

strong {
    font-weight: 660;
}

.inline-link:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: rgba(var(--bg-color), 0.15);
}

nav {
    display: flex;
}

nav a:hover {
    color: rgb(var(--bg-color));
}

.navbar-head {
    margin: 15px;
    font-size: 24px;
    font-weight: 600;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: flex;
}

.navbar-dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(var(--bg-dark-color));
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 100px;
    margin-left: 15px;
    margin-top: -10px;
}

.navbar-dropdown-opt {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: rgba(var(--bg-color), 0.8);
    /* background-color: rgba(var(--bg-color), 0.6); */
}

#main-width-limit {
    max-width: 920px;
    padding: 40px;
    padding-bottom: 10px;
    /* background-color: rgba(var(--bg-color), 0.4); */
}

#page-title {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-content: bottom;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 5px;
    background-color: rgba(var(--bg-color), 0.15);
}

.social-media-link {
    display: flex;
    align-items: center;
    margin: 0 30px 15px;
    font-weight: 500;
    font-size: 18px;
}

.social-media-link img {
    height: 1.2em;
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

.social-media-link:hover img {
    filter: none;
}

#sm-github:hover {
    color: rgb(0, 0, 0);
}

#sm-roblox:hover {
    color: rgb(217, 24, 0);
}

#sm-discord:hover {
    color: rgb(95, 108, 195)
}

#sm-twitter:hover {
    color: rgb(60, 170, 247)
}

#sm-youtube:hover {
    color: rgb(244, 0, 0)
}

#sm-twitch:hover {
    color: rgb(102, 59, 186)
}

/* For moving background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Specific to index.html */
#bio-grid {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: auto auto 40%;
    grid-template-areas:
        "one one img"
        "two two img"
        "thr thr img"
        "fou fou fou";
}

#bio-paragraph-1 {
    grid-area: one;
}

#bio-paragraph-2 {
    grid-area: two;
}

#bio-paragraph-3 {
    grid-area: thr;
}

#bio-paragraph-4 {
    grid-area: fou;
}

#bio-slideshow {
    grid-area: img;
}

#bio-slideshow {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 150px;
}

#bio-slideshow-images-container {
    height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#bio-slideshow-images-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.bio-slide {
    width: 100%;
    border: 0 solid black;
    object-fit: cover;
    scroll-snap-align: start;
    position: relative;
}

#bio-slideshow-buttons-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
    padding: 0 50px;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bio-slideshow-button {
    height: 22px;
    width: 22px;
    border: 2px solid rgba(var(--text-color), 0.6);
    border-radius: 12px;
    background-color: transparent;
}

.bio-slideshow-button:hover, #bio-slideshow-button-focus {
    border-width: 0;
    background-color: rgba(var(--text-color), 0.6);
}

.index-section {
    margin: 30px 0;
}

.index-section-title {
    margin-bottom: 15px;
}

.index-section ul {
    margin: 15px 0;
}

.index-section li {
    margin: 5px 0;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

#project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-section h3 {
    text-align: center;
    margin-bottom: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    width: 100%;
}

.project-grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
  
.project-grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.project-container {
    margin: 15px;
    border-radius: 80px;
    overflow: hidden;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.project-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 50px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: grayscale(40%);
    text-shadow: 1px 0 0 #00000080, 0 -1px 0 #00000080, 0 1px 0 #00000080, -1px 0 0 #00000080;
    font-size: 22px;
    font-weight: 700;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.project-container:hover {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.project-container:hover .project-icon {
    -ms-transform: scale(1.2);
    -ms-filter: grayscale(0%);
    -moz-transform: scale(1.2);
    -moz-filter: grayscale(0%);
    -webkit-transform: scale(1.2);
    -webkit-filter: grayscale(0%);
    -o-transform: scale(1.2);
    -o-filter: grayscale(0%);
    transform: scale(1.2);
    filter: grayscale(0%);
}

#project-pers-icon {
    background-image: url(./Assets/Index/ProjectIcons/Roblox_Icon.png);
}

#project-schl-icon {
    background-image: url(./Assets/Index/ProjectIcons/School_Icon.png);
}

#project-misc-icon {
    background-image: url(./Assets/Index/ProjectIcons/Misc_Icon.png);
}


/* Specific to influences.html */
#main-width-limit-influences {
    padding: 40px 80px;
    padding-bottom: 10px;
    /* background-color: rgba(var(--bg-color), 0.4); */
}

#influences-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 30px;
}

.influence {
    margin: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.influence img {
    height: 25vw;
    width: 100%;
    object-fit: cover;
}


/* Specific to contact.html */
form {
    margin-bottom: 30px;
}

.form-entry {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.input-label {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

input:not([type=radio]), textarea, select, option {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgb(var(--text-color));
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
    width: 380px;
}

input[type=radio] {
    cursor: pointer;
}

input:focus, textarea:focus, select:focus, option:focus {
    outline: none;
}

textarea {
    resize: none;
}

input[type=submit] {
    cursor: pointer;
    width: 140px;
    background-color: #eeeeee;
}

input[type=submit]:hover {
    background-color: #dddddd;
}


/* Specific to project pages */
.project-collection-collapsible {
    transition: all 0.25s ease-out;
}

.project-collection-toggle {
    display: none;
}

.project-collection-head {
    cursor: pointer;
    font-size: 2.6rem;
    font-weight: 700;
}

.project-collection-head:hover {
    color: rgb(var(--bg-color));
}

.project-collection-head::before {
    content: "";
    display: inline-block;
    
    /* Arrow */
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid currentColor;
  
    margin-right: 20px;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.project-collection-toggle:checked + .project-collection-head + .project-collection {
    max-height: 3000px; /* Subject to change */
}

.project-collection-toggle:checked + .project-collection-head::before {
    transform: rotate(90deg) translateX(-3px);
}

.project-collection {
    margin-bottom: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 34px 10px;
    padding: 10px 0 20px;
    border-bottom: 1px solid white;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.project-tags {
    display: flex;
    align-items: center;
}

.project-tags *::before {
    display: inline-block;
    margin-left: 20px;
    padding: 2px 16px;
    border-radius: 30px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.project-tag-first::before {
    content: "First Project Using This";
    background-color: rgb(210, 220, 0);
}

.project-tag-web::before {
    content: "HTML / CSS / JavaScript";
    background-color: purple;
}

.project-tag-csharp::before {
    content: "C#";
    background-color: purple; 
}

.explore-button, .download-button {
    flex: 0 0 auto;
    margin: 0 30px;
    margin-top: 10px;
    padding: 12px 40px;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all .2s ease-out;
}

.explore-button {
    background-color: rgb(167, 90, 230);
}

.explore-button:hover {
    background-color: rgb(127, 50, 190);
}

.download-button {
    background-color: rgb(90, 125, 230);
}

.download-button:hover {
    background-color: rgb(50, 85, 190);
}


/* For Desktop */
@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
    }

    header h1 {
        padding-bottom: 15px;
        text-align: center;
    }
}

/* For Smaller Desktop */
@media screen and (max-width: 1024px) {
    #main-width-limit-influences {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* For Tablet */
@media screen and (max-width: 768px) {
    #main-width-limit {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .social-media-link {
        margin-left: 10px;
        margin-right: 10px;
    }

    .project-grid {
        max-width: 500px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }

    .project-grid::before {
        padding-bottom: 150px;
    }

    .project-icon {
        flex-direction: row;
    }

    #project-pers-icon {
        background-image: url(./Assets/Index/ProjectIcons/Roblox_Icon_Hor.png);
    }
    
    #project-schl-icon {
        background-image: url(./Assets/Index/ProjectIcons/School_Icon_Hor.png);
    }
    
    #project-misc-icon {
        background-image: url(./Assets/Index/ProjectIcons/Misc_Icon_Hor.png);
    }

    #influences-grid {
        grid-template-columns: none;
    }

    .influence img {
        height: 50%;
    }
}

/* Adjustements */
@media screen and (max-width: 660px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 36px;
    }

    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-head {
        margin: 5px;
        font-size: 16px;
    }

    #bio-grid {
        grid-template-columns: auto auto 50%;
        grid-template-areas:
            "one one img"
            "two two img"
            "thr thr thr"
            "fou fou fou";
    }

    .influence img {
        min-height: 300px;
    }
}

/* For Mobile */
@media screen and (max-width: 480px) {   
    #main-width-limit {
        width: 100%;
    }

    footer {
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .social-media-divide {
        flex-direction: column;
        margin-bottom: 0;
    }

    .social-media-link {
        font-size: 16px;
    }

    #bio-grid {
        grid-template-columns: auto auto 50%;
        grid-template-areas:
            "one one one"
            "img img img"
            "two two two"
            "thr thr thr"
            "fou fou fou";
    }

    .influence {
        margin-left: 0;
        margin-right: 0;
    }

    input:not([type=radio]), textarea, select, option {
        width: 100%;
    }
}