* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: black; */
    background: linear-gradient(45deg, #df7334, #c72ba5, #1d37cc, #22ac6c);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

h1 {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 66px;
    line-height: 1;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.4;
}

h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

.inline-link {
    display: inline;
    color:rgba(180, 220, 235);
}

strong {
    font-weight: 660;
}

.inline-link:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: rgba(180, 220, 235, 0.15);
}

nav a {
    margin: 15px;
    font-weight: 600;
    font-size: 24px;
    transition: all 0.25s ease-out;
}

nav a:hover {
    color: rgb(180, 220, 235);
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: rgba(180, 220, 235, 0.8);
    /* background-color: rgba(180, 220, 235, 0.6); */
}

#main-width-limit {
    max-width: 920px;
    padding: 40px;
    padding-bottom: 10px;
    /* background-color: rgba(180, 220, 235, 0.4); */
}

#page-title {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-content: bottom;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 10px;
    background-color: rgba(180, 220, 235, 0.15);
}

.social-media-divide {
    display: flex;
    justify-content: center;
    align-content: bottom;
    margin-bottom: 10px;
}

.social-media-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 30px;
    font-weight: 500;
    font-size: 18px;
}

.social-media-link img {
    height: 1.2em;
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

.social-media-link:hover img {
    filter: none;
}

#sm-roblox:hover {
    color: rgb(217, 24, 0);
}

#sm-discord:hover {
    color: rgb(95, 108, 195)
}

#sm-twitter:hover {
    color: rgb(60, 170, 247)
}

#sm-youtube:hover {
    color: rgb(244, 0, 0)
}

#sm-twitch:hover {
    color: rgb(102, 59, 186)
}

/* For moving background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Specific to index.html */
#bio-grid {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: auto auto 40%;
    grid-template-areas:
        "one one img"
        "two two img"
        "thr thr img"
        "fou fou fou";
}

#bio-paragraph-1 {
    grid-area: one;
}

#bio-paragraph-2 {
    grid-area: two;
}

#bio-paragraph-3 {
    grid-area: thr;
}

#bio-paragraph-4 {
    grid-area: fou;
}

#bio-image-container {
    grid-area: img;
}

#bio-image-container img {
    height: 100%;
    width: 100%;
    min-width: 150px;
    object-fit: cover;
}

.index-section {
    margin: 30px 0;
}

.index-section ul {
    margin: 15px 0;
}

.index-section li {
    margin: 5px 0;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

#project-section h3 {
    text-align: center;
    margin-bottom: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.project-grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
  
.project-grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.project-container {
    margin: 15px;
    border-radius: 80px;
    overflow: hidden;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.project-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(40%);
    text-shadow: 1px 0 0 #00000080, 0 -1px 0 #00000080, 0 1px 0 #00000080, -1px 0 0 #00000080;
    font-size: 22px;
    font-weight: 700;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.project-container:hover {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.project-container:hover .project-icon {
    -ms-transform: scale(1.2);
    -ms-filter: grayscale(0%);
    -moz-transform: scale(1.2);
    -moz-filter: grayscale(0%);
    -webkit-transform: scale(1.2);
    -webkit-filter: grayscale(0%);
    -o-transform: scale(1.2);
    -o-filter: grayscale(0%);
    transform: scale(1.2);
    filter: grayscale(0%);
}

#project-pers-icon {
    background-image: url(./Assets/ProjectIcons/Roblox_Icon.png);
}

#project-schl-icon {
    background-image: url(./Assets/ProjectIcons/School_Icon.png);
}

#project-misc-icon {
    background-image: url(./Assets/ProjectIcons/Misc_Icon.png);
}


/* Specific to influences.html */
#main-width-limit-influences {
    padding: 40px 80px;
    padding-bottom: 10px;
    /* background-color: rgba(180, 220, 235, 0.4); */
}

#influences-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 30px;
}

.influence {
    margin: 20px;
    padding: 10px;
    background-color: rgba(0,0,0, 0.1);
}

.influence img {
    height: 25vw;
    width: 100%;
    object-fit: cover;
}


/* Specific to contact.html */
form {
    margin-bottom: 30px;
}

.form-entry {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.input-label {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

input:not([type=radio]), textarea, select, option {
    color: rgba(0, 0, 0, 0.9);
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
    width: 380px;
}

input:focus, textarea:focus, select:focus, option:focus {
    outline: none;
}

textarea {
    resize: none;
}

input[type=submit] {
    width: 140px;
    background-color: #eeeeee;
}

input[type=submit]:hover {
    background-color: #dddddd;
}


/* For Desktop */
@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
    }

    header h1 {
        padding-bottom: 15px;
        text-align: center;
    }
}

/* For Smaller Desktop */
@media screen and (max-width: 1024px) {
    #main-width-limit-influences {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* For Tablet */
@media screen and (max-width: 768px) {
    #main-width-limit {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .social-media-link {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .project-grid {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }

    .project-grid::before {
        padding-bottom: 150px;
    }

    #influences-grid {
        grid-template-columns: none;
    }

    .influence img {
        height: 50%;
    }
}

/* Adjustements */
@media screen and (max-width: 660px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 36px;
    }

    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    nav a {
        margin: 5px;
        font-size: 16px;
    }

    .social-media-link {
        font-size: 14px;
    }

    #bio-grid {
        grid-template-columns: auto auto 50%;
        grid-template-areas:
            "one one img"
            "two two img"
            "thr thr thr"
            "fou fou fou";
    }

    .influence img {
        min-height: 300px;
    }
}

/* For Mobile */
@media screen and (max-width: 480px) {   
    #main-width-limit {
        width: 100%;
    }

    footer {
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .social-media-divide {
        flex-direction: column;
        margin-bottom: 0;
    }

    .social-media-link {
        margin-bottom: 10px;
    }

    #bio-grid {
        grid-template-columns: auto auto 50%;
        grid-template-areas:
            "one one one"
            "img img img"
            "two two two"
            "thr thr thr"
            "fou fou fou";
    }

    .influence {
        margin-left: 0;
        margin-right: 0;
    }

    input:not([type=radio]), textarea, select, option {
        width: 100%;
    }
}